obj/Debug/net6.0/AuctionApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/AuctionApp.assets.cache
obj/Debug/net6.0/AuctionApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/AuctionApp.assets.cache
obj/Debug/net6.0/AuctionApp.csproj.AssemblyReference.cache
obj/Debug/net6.0/AuctionApp.assets.cache
obj/Debug/net6.0/AuctionApp.GeneratedMSBuildEditorConfig.editorconfig
