obj/Debug/net6.0/AuctionApp.GeneratedMSBuildEditorConfig.editorconfig
obj/AuctionApp.csproj.nuget.dgspec.json
obj/AuctionApp.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/AuctionApp.assets.cache
obj/Debug/net6.0/AuctionApp.csproj.AssemblyReference.cache
obj/Debug/net6.0/AuctionApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/project.razor.json
appsettings.Development.json
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/AuctionApp.dll
bin/Debug/net6.0/AuctionApp.exe
bin/Debug/net6.0/AuctionApp.pdb
bin/Debug/net6.0/AuctionApp.staticwebassets.runtime.json
obj/AuctionApp.csproj.EntityFrameworkCore.targets
obj/AuctionApp.csproj.nuget.dgspec.json
obj/AuctionApp.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/AuctionApp.assets.cache
obj/Debug/net6.0/AuctionApp.csproj.AssemblyReference.cache
obj/Debug/net6.0/AuctionApp.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/AuctionApp.csproj.FileListAbsolute.txt
obj/Debug/net6.0/AuctionApp.dll
obj/Debug/net6.0/AuctionApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/AuctionApp.genruntimeconfig.cache
obj/Debug/net6.0/AuctionApp.pdb
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/ref/AuctionApp.dll
obj/Debug/net6.0/refint/AuctionApp.dll
Views/Asset/Add.cshtml
Views/Asset/Create.cshtml
Views/Shared/_progress-bars.cshtml
bin/Debug/net6.0/AuctionApp.dll
bin/Debug/net6.0/AuctionApp.exe
bin/Debug/net6.0/AuctionApp.pdb
bin/Debug/net6.0/AuctionApp.staticwebassets.runtime.json
obj/AuctionApp.csproj.nuget.dgspec.json
obj/AuctionApp.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/AuctionApp.assets.cache
obj/Debug/net6.0/AuctionApp.csproj.AssemblyReference.cache
obj/Debug/net6.0/AuctionApp.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/AuctionApp.csproj.FileListAbsolute.txt
obj/Debug/net6.0/AuctionApp.dll
obj/Debug/net6.0/AuctionApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/AuctionApp.genruntimeconfig.cache
obj/Debug/net6.0/AuctionApp.pdb
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/ref/AuctionApp.dll
obj/Debug/net6.0/refint/AuctionApp.dll
Views/Shared/_progress-bars.cshtml
