@using AuctionApplication.DTOs.RequestModels
@model AuctionApplication.DTOs.RequestModels.CreateBiddingRequestModels


    <div class="row">
        <div class="col-md-12">
            <h2>Add Bidding</h2>
            <form asp-action="CreateBidding">
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input for="Price" type="Number" name="Price" id="price" class="form-control" />
                </div>
                 @* <div class="form-group">
                    <label for="CustomerId">CustomerId</label>
                    <input type="Number" name="CustomerId" id="customerId" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="AssetId">AssetId</label>
                    <input type="Number" name="AssetId" id="assetId" class="form-control"/>
                </div> *@
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>