 @using AuctionApplication.DTOs.RequestModels
@model AuctionApplication.DTOs.RequestModels.UpdateBiddingRequestModels

    <div class="btn-group">
        
        <a class="btn-danger btn" asp-action="TerminateBidding" asp-route-id=@Model.BiddingId>Delete</a> 
    </div>
