@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_progress-bars.cshtml";
}
<title>Tables</title>
<script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800,900%7CMontserrat:100,200,300,400,500,600,700,800,900">
<link rel="stylesheet" href="~/csss/bootstrap.css">
<link rel="stylesheet" href="~/csss/fonts.css">
<link rel="stylesheet" href="~/csss/style.css">
<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.0"></script>
<style>
    .ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
        clear: both;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
        display: block;
    }
</style>

<body>
    <div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img
                src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
        </div>
    </div>
    <div class="page">
        <header class="section page-header">
            <!--RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                    data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                    data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static"
                    data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                    data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px"
                    data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1"
                        data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    <div class="rd-navbar-aside-outer rd-navbar-collapse bg-gray-900">
                        <div class="rd-navbar-aside">
                            <div class="rd-navbar-aside-left">
                                <ul class="list-inline list-inline-lg">
                                    <li>
                                        <div class="unit unit-spacing-sm align-items-center">
                                            <div class="unit-left"><span
                                                    class="icon icon-md text-middle fa-phone text-primary"></span></div>
                                            <div class="unit-body header-phone-wrap">Freephone:&nbsp;<a
                                                    class="header-phone" href="tel:#">800-2345-6789</a></div>
                                        </div>
                                    </li>
                                    <li class="header-hours">Opening Hours: 8am-8pm PST M-Th; 6am-3pm PST Fri</li>
                                </ul>
                            </div>
                            <div class="rd-navbar-aside-right">
                                <div class="group-sm"><a class="button button-sm button-secondary" href="#">Sign
                                        In</a><a class="button button-sm button-primary-2" href="#">Register</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!--RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!--RD Navbar Toggle-->
                                <button class="rd-navbar-toggle"
                                    data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!--RD Navbar Brand-->
                                <div class="rd-navbar-brand">
                                    <!--Brand--><a class="brand" href="index.html"><img
                                            src="images/logo-default-658x114.png" alt="" width="329" height="57" /></a>
                                </div>
                            </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap">
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">About</a>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="sell.html">Sell</a>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="buy.html">Buy</a>
                                        </li>
                                        <li class="rd-nav-item active"><a class="rd-nav-link">Pages</a>
                                            <ul class="rd-menu rd-navbar-dropdown">
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                        href="404.html">404</a>
                                                </li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                        href="typography.html">Typography</a>
                                                </li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                        href="buttons.html">Buttons</a>
                                                </li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                        href="forms.html">Forms</a>
                                                </li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                        href="tabs-and-accordions.html">Tabs and accordions</a>
                                                </li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                        href="progress-bars.html">Progress bars</a>
                                                </li>
                                                <li class="rd-dropdown-item active"><a class="rd-dropdown-link"
                                                        href="tables.html">Tables</a>
                                                </li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                        href="grid-system.html">Grid system</a>
                                                </li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                        href="privacy-policy.html">Privacy policy</a>
                                                </li>
                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                        href="search-results.html">Search results</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="section novi-bg novi-bg-img section-md bg-default text-center section-top-shadow">
            <div class="container">
                <div class="table-custom-responsive">
                    <table class="table-custom table-custom-secondary">
                        <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                                <th>Column 3</th>
                                <th>Column 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item #1</td>
                                <td>Description</td>
                                <td>Subtotal</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Item #2</td>
                                <td>Description</td>
                                <td>Discount</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Item #3</td>
                                <td>Description</td>
                                <td>Shipping</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Item #4</td>
                                <td>Description</td>
                                <td>Tax</td>
                                <td>$4.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>All Items</td>
                                <td>Description</td>
                                <td>Your Total</td>
                                <td>$13.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <hr>
        <section class="section novi-bg novi-bg-img section-md bg-default text-center">
            <div class="container">
                <div class="table-custom-responsive">
                    <table class="table-custom table-custom-bordered">
                        <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                                <th>Column 3</th>
                                <th>Column 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item #1</td>
                                <td>Description</td>
                                <td>Subtotal</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Item #2</td>
                                <td>Description</td>
                                <td>Discount</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Item #3</td>
                                <td>Description</td>
                                <td>Shipping</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Item #4</td>
                                <td>Description</td>
                                <td>Tax</td>
                                <td>$4.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>All Items</td>
                                <td>Description</td>
                                <td>Your Total</td>
                                <td>$13.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <hr>
        <section class="section novi-bg novi-bg-img section-md bg-default text-center">
            <div class="container">
                <div class="table-custom-responsive">
                    <table class="table-custom table-custom-striped table-custom-primary">
                        <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                                <th>Column 3</th>
                                <th>Column 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item #1</td>
                                <td>Description</td>
                                <td>Subtotal</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Item #2</td>
                                <td>Description</td>
                                <td>Discount</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Item #3</td>
                                <td>Description</td>
                                <td>Shipping</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Item #4</td>
                                <td>Description</td>
                                <td>Tax</td>
                                <td>$4.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>All Items</td>
                                <td>Description</td>
                                <td>Your Total</td>
                                <td>$13.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <footer class="footer novi-bg novi-bg-img">
            <div class="footer-content">
                <div class="container">
                    <div class="row row-30">
                        <div class="col-lg-3 col-sm-6">
                            <h4 class="footer-title">Information</h4>
                            <ul class="footer-list list-xs">
                                <li><a class="footer-link" href="#">About Us</a></li>
                                <li><a class="footer-link" href="#">My Account</a></li>
                                <li><a class="footer-link" href="#">Price List</a></li>
                                <li><a class="footer-link" href="#">Contacts</a></li>
                                <li><a class="footer-link" href="#">Registration</a></li>
                                <li><a class="footer-link" href="#">News</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h4 class="footer-title">Help Center</h4>
                            <ul class="footer-list list-xs">
                                <li><a class="footer-link" href="#">Assistance</a></li>
                                <li><a class="footer-link" href="#">FAQ</a></li>
                                <li><a class="footer-link" href="#">Testimonials</a></li>
                                <li><a class="footer-link" href="#">Account Refill</a></li>
                                <li><a class="footer-link" href="#">Payments</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h4 class="footer-title">Partners</h4>
                            <ul class="footer-list list-xs">
                                <li><a class="footer-link" href="#">iStep</a></li>
                                <li><a class="footer-link" href="#">Artex</a></li>
                                <li><a class="footer-link" href="#">Style Shop</a></li>
                                <li><a class="footer-link" href="#">CrystalTech</a></li>
                                <li><a class="footer-link" href="#">VIP Fashion</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h4 class="footer-title">Facebook</h4>
                            <div class="fw_facebook">
                                <div class="fb-like-box fb_iframe_widget" id="fb-like-box" data-show-border="false"
                                    data-stream="false" data-header="false" data-show-faces="true"
                                    data-colorscheme="light" data-href="https://www.facebook.com/TemplateMonster"
                                    data-width="270px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-panel">
                <div class="container">
                    <p class="rights"><span>&copy;&nbsp; </span><span
                            class="copyright-year"></span><span>&nbsp;</span><span>Online
                            Auction</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/jss/core.min.js"></script>
    <script src="~/jss/script.js"></script>
    <!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0"
            width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-P9FT69');</script>
    <!-- End Google Tag Manager -->
</body>