@using AuctionApplication.DTOs.RequestModels
@model CreateRoleRequestmodel


    <div class="row">
        <div class="col-md-12">
            <h2>Add Role</h2>
            <form asp-action="CreateRole">
                <div class="form-group">
                    <label for="Name">Role Name</label>
                    <input for="Name" type="text" name="Name" id="name" class="form-control" />
                </div>
                 <div class="form-group">
                    <label for="Description">Description</label>
                    <input type="text" name="Description" id="description" class="form-control"/>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>