@{
    ViewData["Title"] = "AddAsset Page";
}

<link rel="stylesheet" href="~/Styles/common.css">
<link rel="stylesheet" href="~/Styles/Register.css">

<form class="all-container" asp-action="AddProduct">
        <div class="registration-container">
           <input for="ProductName" name="ProductName"  class="deets" type="text" placeholder="Product Name">
            <input  for="Quantity" name="Quantity"  class="deets" type="number" placeholder="Quantity">        
            <input  for="Price" name="Price" class="deets" type="number" placeholder="Price" >
            <input  for="OldPrice" name="OldPrice" class="deets" type="number" placeholder="OldPrice" >
            <input  for="ImageURL" name="ImageURL" class="deets" type="file" placeholder="Choose File" >
        </div>

        <div class="button-container Register">
            <button>Submit</button>
        </div>
    </form>
   
    