 <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="form-group">
                    <label for="date">Auction Start Date</label>
                    <input type="date" name="date" id="date" for="date" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>